@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}

.header{
    margin: 0px;
    width: 500px;   
}

.nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    background-color: rgb(177, 174, 174);
}

.nav li a:hover{
    background-color: #6a6a6a;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;  
}


.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}


footer{
    display: block;
}



h2{
    text-align: center;
}

form {
    background: rgba(217, 218, 217,10);
    width: 450px;
    margin: auto;
    padding: 10px 20px ;
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 10px;
}

textarea {
    min-height: 100px;
    max-height: 300px;
    max-width: 100%;
    
}

input,textarea {
    border: none;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

#enviar{
    background: rgb(146, 144, 144);
}

#enviar:hover {
    cursor: pointer;
}
































































